
// Variables 

// Fonts
$base-font: Helvetica, Arial, sans-serif;
$font:  'Roboto', $base-font;

// Device breakpoints

$minWidth: 320px;
$mobile_mid: 480px;
$mobile: 640px;
$tablet: 768px;
$desktop: 960px;
$wide: 1025px;
$widest: 1200px;



